<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Generator</title>
    <style>
        .a {
            padding-left: 25px;
        }
        
        .b {
            box-shadow: 2px 8px 16px 0 red;
            margin-left: 50px;
            background-color: lawngreen;
            height: 30px;
        }
        
        .b:hover {
            box-shadow: 2px 8px 16px 0 red;
        }
        
        .c {
            box-shadow: 10px 20px 30px 10px black;
        }
    </style>
</head>

<body>
    <header>
        <div style="background-color: orange;">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" style="color: brown; font-size: larger;">
                    <img src="/pics/bill.png" alt="" width="70" height="60" class="d-inline-block align-top"> Bill Generator
                </a>
            </nav>
        </div>
    </header>